body {
    background-color: black;
    font-family: 'Courier New', monospace;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    margin-bottom: 0.5em;
}

[data-bs-theme="dark"] body {
    background-color: black;
    color: #f8f9fa;
}

[data-bs-theme="dark"] .navbar {
    background-color: black;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.section {
    scroll-snap-align: start;
    /* This snaps the start of each section to the start of the container */
    height: 80vh;
    /* Make each section the height of the viewport */
}

.canvas-container {
    height: 80vh;
}

/* .video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 56.25;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    min-height: 500px; /* Or set the height you prefer */
} */

.navbar.bg-dark {
    background-color: black !important;
}


#sidebar {
    position: fixed;
    top: 70%;
    left: 0;
    height: 100%;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar .active {
    color: #068FFF;
}

.custom-sidebar a {
    color: #aaa;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.project-title {
    color: inherit;
}

.project-title a {
    color: inherit;
    /* this makes the link color the same as the parent .project-title color */
    text-decoration: none;
}

.project-title a:hover {
    color: rgb(23, 110, 197);
}


.icon-large {
    font-size: 2rem;
    /* adjust this value to get your desired icon size */
}

.social-icons a {
    display: inline-block;
    margin-right: 20px; /* adjust this value to change the spacing between icons */
  }