body {
    background-color: black;
    font-family: 'Courier New', monospace;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas-container {
    height: 80vh;
}

.spot-canvas-container {
    height: 25vh;
    width: 25vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    margin-bottom: 0.5em;
}

section {
    display: block;
    margin-left: 2.5em;
    margin-right: 2.5em;
}


[data-bs-theme="dark"] body {
    background-color: black;
    color: #f8f9fa;
}

[data-bs-theme="dark"] .navbar {
    background-color: black;
}

.container {
    scroll-snap-type: y mandatory;
    /* This makes the scrolling snap along the y-axis */
    overflow-y: scroll;
    /* Enable vertical scrolling */
    height: 100vh;
    /* Set the height to the height of the viewport */
}

.section {
    scroll-snap-align: start;
    /* This snaps the start of each section to the start of the container */
    height: 100vh;
    /* Make each section the height of the viewport */
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 Aspect Ratio */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
}